<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>title</title>
</head>
<body>
    <div class="container py-5" >
        <h1>✍ 글 작성하기</h1>
        <hr>
        <form action="/board/add" th:action method="POST">
            <div class="form-group">
                <label for="postTitle">제목</label>
                <input type="text" class="form-control" id="postTitle" name="postTitle" >
            </div>
            <div class="form-group">
                <label for="postBody">본문</label>
                <textarea  class="form-control" name="postBody" id="postBody" cols="30" rows="15" ></textarea>
            </div>
            <div class="row">
                <button class="btn btn-default col-md-offset-10" type="submit">제출하기</button>
                <button class="btn btn-default" type="button" th:onclick="|location.href='@{/board/posts}'|" >홈으로</button>
            </div>
        </form>

    </div>
</body>
</html>