<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>게시물</title>
</head>
<body style="background-color: rgb(253, 233, 210);">
<div class="container">

    <div class="py-5">
        <header >
            <h1 class="text-left">📃BOARD</h1>
        </header>


        <main class="col-md-offset-4">
            <table class="table">
                <thead class="text-center">
                <td class="col-md-1"><strong>#</strong></td>
                <td class="col-md-5"><strong>글 제목</strong></td>
                <td class="col-md-5"><strong>작성일시</strong></td>
                <td class="col-md-1"><strong>조회수</strong></td>
                </thead>
                <tbody class="text-center">
                    <tr th:each="post : ${posts}" th:with="localDatetime=${post.localDateTime}">
                        <td th:text="${post.id}"></td>
                        <td><a th:href="@{/board/posts/{postId}(postId=${post.id})}" th:text="${post.title}"></a></td>
                        <td th:text="${#temporals.format(localDatetime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${post.view}"></td>
                    </tr>
                </tbody>
            </table>
        </main>

        <button type="button" class="btn btn-primary" onclick="location.href='/board/posts/add'">글쓰기</button>

    </div>
</div>


</body>
</html>